*{
    margin:0;
    padding: 0;
}

.wrapper{
    padding: 10px;
}
.bg_image {
    background-image: url("../images/airport.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

 

  .fltText {
      display: flex;
      font-weight: 100;
      font-family: fantasy;
      font-size:xx-large;
      color: whitesmoke;
      padding:10px;
  }

